### Intermediate Python
- by Rahul

#### Python review

In [ ]:
s = 'I Like Python'
s

In [ ]:
a = 10
b = 20
print(a)
print(b)

#### Dynamic language but still importance to types

In [ ]:
x = 10
print(type(x))

x = 'Python'
print(type(x))

x = False
print(type(x))

x = [1,2,3]
print(type(x))

In [ ]:
x = 10
y = 'A'
z = x + int(y)
z

In [ ]:
str(x) + y

In [ ]:
x = 10
y = 'A'
z = x + int(y)
z

#### Control statements

In [ ]:
num = int(input('Enter a number: '))

if num > 0:
    print(num, 'is positive')
elif num < 0:
    print(num, 'is negative')
else:
    print(num, 'is Zero')

In [ ]:
import keyword

print(len(keyword.kwlist))
print(keyword.kwlist)

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    if month == 1 or month == 2 or month == 3:
        print('First Quarter')
    elif month == 4 or month == 5 or month == 6:
        print('Second Quarter')
    elif month == 7 or month == 8 or month == 9:
        print('Third Quarter')
    elif month == 10 or month == 11 or month == 12:
        print('Fourth Quarter')
    else:
        print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    if month in (1,2,3):
        print('First Quarter')    
    elif month in (4,5,6):
        print('Second Quarter')
    elif month in (7,8,9):
        print('Third Quarter')
    elif month in (10,11,13):
        print('Fourth Quarter')
    else:
        print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

In [ ]:
s = input('Enter a month (1-12): ')

if s.isnumeric():
    month = int(s)
    
    match  month:
        case 1 | 2 | 3:
            print('First Quarter') 
        case 4 | 5 | 5:
            print('Second Quarter') 
        case 7 | 8 | 9:
            print('Third Quarter') 
        case 10 | 11 | 12:
            print('Fourt Quarter')     
        case _:    
            print('Please enter between 1 and 12')
else:
    print('Please enter numerical value')

#### Iterative statements

In [ ]:
#for i in range(10): # from 0 to stop-1
#for i in range(1,11): # from start to stop-1
#for i in range(1,11,3):

for i in range(10,0,-1):
    print(i, end='  ')

#### Iterable objects
- string
- list
- set
- tuple
- dict

In [ ]:
list1 = [10, 20, 30]

for ele in list1:
    print(ele)

In [ ]:
len(list1)

In [ ]:
s1 = 'I Like Python'

for ch in s1:
    print(ch, end='')

In [ ]:
s1 = 'I Like Python'

for ch in s1:    
    if ch == 't':
        break

    print(ch, end='')

In [ ]:
s1 = 'I Like Python'

for ch in s1:    
    if ch == 't':
        continue

    print(ch, end='')

#### while loop

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
i = 1

while i < 11:
    print(i)
    i += 1

#### Working with functions

In [ ]:
def add(a, b):
    sum = a + b
    return sum

#-----------------------
num1 = 10
num2 = 20
result = add(num1, num2)

print('Sum of', num1, 'and', num2, '=', result)

print('Sum of {} and {} = {}'.format(num1, num2, result))

print('Sum of %d and %d = %d' % (num1, num2, result))

print(f'Sum of {num1} and {num2} = {result}')

#### Variable scope

In [ ]:
a = 10

def func():
    global b
    b = 20
    print('---Begin function-------')
    
    print('a = ', a)
    print('b = ', b)
    
    print('---End function-------')

#---------------------------------------------


func()
print('a = ', a)
print('b = ', b)

In [ ]:
a = 100

In [ ]:
a

In [ ]:
%%writefile hello.py
def say_hello(name):
    print(f'Hello {name}')

In [ ]:
import hello

hello.say_hello('John')
hello.say_hello('Sam')
hello.say_hello('Mat')

In [ ]:
from hello import say_hello

say_hello('A')
say_hello('B')
say_hello('C')

In [ ]:
from hello import *

say_hello('X')
say_hello('Y')
say_hello('Z')

In [ ]:
from hello import say_hello as s1
from hello2 import say_hello as s2

s2('John')

#### Types in Python
Immutable
- int, float, bool, str, tuple, frozenset

Mutable
- list, set, dict

In [ ]:
# string is immutable

s1 = 'Hello'

print(id(s1))

s1 = s1 + 'World'

print(id(s1))

#### Working with lists
- Ordered (items can be accessed through index)
- Mutable
- Can have heterogenous elements
- Can be sliced

In [ ]:
list1 = []
list2 = list()

print(len(list1))
print(len(list2))

In [ ]:
list1 = [1, 3, 5, 7, 9, 11, 13]
print(len(list1))

In [ ]:
list1[2]

In [ ]:
print(list1)
list1[2] = 100
print(list1)

In [ ]:
print(id(list1))
list1.remove(9)
print(id(list1))

In [ ]:
list1 = [1, 3.1415, False, 'Python', 100]

list1

In [ ]:
for ele in list1:
    print(ele)

In [ ]:
for ele in list1:
    if type(ele) in (int,float):
        print(ele)

In [ ]:
list1 = [1, 3, 5, 7, 9, 11, 13]

list1[0]

In [ ]:
list1[ len(list1)-1 ] # last element

In [ ]:
list1[-1] # last element

In [ ]:
list1[-2] # second last element

In [ ]:
list1

In [ ]:
list2 = list1[2:6] # 2,3,4,5
list2

In [ ]:
list1[2:] # from 2 till the last index

In [ ]:
list1[:6] # from 0 till stop-1

In [ ]:
fruits = ['apple', 'banana', 'apple', 'cherry', 'pineapple']

'apple' in fruits

In [ ]:
fruits.count('apple')

In [ ]:
fruit_to_search = 'apple'

if fruit_to_search in fruits:
    count = fruits.count('apple')
    print(fruit_to_search, 'occurs', count, 'time(s)')
    indices = []
    for i in range(0, len(fruits)):
        if fruits[i] == fruit_to_search:
            indices.append(i)
    print(fruit_to_search, 'occurs at', indices)
else:
    print(fruit_to_search, 'does not exist')

In [ ]:
if fruit_to_search in fruits:
    count = fruits.count('apple')
    print(fruit_to_search, 'occurs', count, 'time(s)')
    indices = [i for i,ele in enumerate(fruits) if ele == fruit_to_search]
    print(fruit_to_search, 'occurs at', indices)
else:
    print(fruit_to_search, 'does not exist')

#### List comprehension

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = []

for ele in list1:
    if ele % 2 == 0:
        list2.append(ele ** 2)
    
print(list1)
print(list2)

In [ ]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list2 = [ele ** 2 for ele in list1 if ele % 2 == 0]

print(list1)
print(list2)

In [ ]:
fruits

In [ ]:
for i,ele in enumerate(fruits):
    print(i, '-->', ele)

#### Working with tuples
- Ordered (items can be accessed through index)
- Immutable
- Can have heterogenous elements
- Can be sliced

In [ ]:
tuple1 = ()
tuple2 = tuple()

print(len(tuple1))
print(len(tuple2))

In [ ]:
tuple1 = (1,)
print(type(tuple1))

In [ ]:
tuple1 = (1,2,3,4,5)
print(type(tuple1))

In [ ]:
tuple1[3]

In [ ]:
tuple1[3] = 100

In [ ]:
for ele in tuple1:
    print(ele)

In [ ]:
tuple1 = (1, 2, 3, (4,5,6,7,8))

print(tuple1)

temp_list = []

for ele in tuple1:
    if type(ele) is tuple:
        temp_list.extend(ele)    
    else:
        temp_list.append(ele)
        
tuple1 = tuple(temp_list)

print(tuple1)

#### Working with sets

- Un-Ordered (items cannot be accessed through index)
- Mutable
- Can have heterogenous elements
- Can be sliced
- Does not allow duplicates

In [ ]:
set1 = {1, 7, 3, 5, 2}

print(type(set1))

set1

In [ ]:
set1[2] # ERROR

In [ ]:
for ele in set1:
    print(ele)

In [ ]:
set1

In [ ]:
set1.add(10)
set1

In [ ]:
set1.remove(5) # remove the given element, raises KeyError in case element does not exist in set
set1

In [ ]:
set1

In [ ]:
set1.discard(5) # remove the given element, No KeyError in case element does not exist in set
set1

In [ ]:
set1

In [ ]:
set1.add(9)
set1

In [ ]:
set1.add(3)
set1

In [ ]:
set1

In [ ]:
set1.update((10, 3, 7, 20,30))
set1

#### Frozenset is immutable

In [ ]:
set1 = {'apple', 'banana', 'orange'}
frozenset1 = frozenset(set1)
print(frozenset1)
frozenset1.add('pear')
print(frozenset1)

#### Remove duplicates from a List

In [ ]:
list1 = [1, 3, 5, 1, 7, 3, 9, 5]
print(list1)

list1 = list(set(list1))

print(list1)

#### Write a function which takes a string as parameter, displays the words and their frequency
- case-sensitive (python and Python are different words)
- case-insensitive (python and Python are not different words)

In [ ]:
def word_frequency(s):
    
    #case-sensitive
    #word_list = s.replace('.','').replace(',','').split()
    
    #case-insensitive
    word_list = s.replace('.','').replace(',','').lower().split()
    
    unique_words = set(word_list)
    
    for word in unique_words:
        print(word, '--', word_list.count(word))   
    
#----------------------------------------------

string1 = 'Hello, I like python. Python is a simple language. Hello world from python'
word_frequency(string1)

#### Working with Dictionary
- Unordered till Python 3.6
- Key-value pairs
- key need to unique and immutable, value can be of any type

In [ ]:
dict1 = {} # Empty dict
print(type(dict1))
print(len(dict1))

In [ ]:
dict1 = {'Name':'John', 'Age':23, 'Gender':'Male'}
dict1

In [ ]:
value = dict1['Name123'] # KeyError in case the key does not exist
print(value)

In [ ]:
value = dict1.get('Name123') # get method returns None in case the key does not exist
print(value)

In [ ]:
value = dict1.get('Name123', 'Not set') # returns the specified default value in case the key does not exist
print(value)

In [ ]:
dict1['Result'] = 'Fail' # Add a new pair if key does not exist else replace the value if key already exists
dict1

In [ ]:
dict1['Name'] = 'Johnson'
dict1

In [ ]:
dict1.keys() # collection of all keys

In [ ]:
for key in dict1.keys():
    print(key)

In [ ]:
 dict1.values() # collection of all values

In [ ]:
dict1.items()

In [ ]:
# each item is tuple having 2 elements, item[0] is the key and item[1] is the value
for item in dict1.items():
    print(item[0], '<==>', item[1])

#### Tuple unpacking

In [ ]:
tuple1 = (10,20)
a,b = tuple1

print(a)
print(b)

In [ ]:
for key,value in dict1.items():
    print(key, '<==>', value)

In [116]:
# args is a tuple, hence can be iterated...similar to variable number of arguments feature of other languages
def add(a, b, *args):
    return a + b + sum(args)

In [112]:
add(5, 6)

11

In [113]:
add(5,6,7)

18

In [114]:
add(1,2,3,4,5,6,7,8,9,10)

55

In [115]:
tuple1 = (10,20,30)
add(1, 2, *tuple1)

63

In [119]:
# kwargs is a dictionary, made up of key/value pairs
def demo(**kwargs):
    for key,value in kwargs.items():
        print(key, '--', value)
        
#---------------------------------------

demo(x=1, y=2, z=3)

x -- 1
y -- 2
z -- 3

In [121]:
db_details = {'hostname':'db.example.com', 'port':3306, 'username':'scott', 'password':'Tiger1234'}

demo(**db_details)

hostname -- db.example.com
port -- 3306
username -- scott
password -- Tiger1234