#### Functional programming

#### Python functions

1. Python functions are 'First class" objects, i.e. they can be created at runtime
2. Can be assigned to a variable
3. Can be passed as an argument to a function
4. Can be returned from a function

In [ ]:
def say_hello(*s):
    return f'Hello {"".join(s)}'


def add(*args):
    return sum(args)


def print_result(func, a):
    result = func(*a)
    print(result)


print_result(say_hello, 'John')
print_result(add, (1,2,3))

#### Lambda functions
- lambda keyword creates an anyonymous function 
- lambda accepts parameters
- lambda body is made up of an expression (only one expression) 
- will return the expression evaluation result

In [16]:
type((lambda num : num * num))

function

In [17]:
(lambda num : num * num)(5)

25

In [ ]:
sqr = lambda num : num * num

In [ ]:
sqr(12)

In [ ]:
sqr(3)

In [18]:
(lambda a,b : a + b)(3,4)

7

In [19]:
add = lambda a,b : a + b

add(2,3)

5

In [20]:
add = lambda *args : sum(args)

In [21]:
add(1,2)

3

In [22]:
add(1,2,3)

6

In [26]:
add(1,2,3,4,5)

15

#### Higher-Order functions
- a function that takes another function as an arg
- map()
- reduce()
- filter()

#### map() function
- purpose of map is to apply trasformation to the input elements
- takes a function as first argument and iterable as second argument
- function is invoked for each item of the iterable and returns the transformed values as a sequence
- syntax --> map(func, iterable)
- number of output elements is same as number of input elements

In [ ]:
# Differnt ways of creating a list with values in a sequence
list1 = [1,2,3,4,5,6,7,8,9,10]
list2 = [*range(1,11)]
list3 = list(range(1,11))

print(list1)
print(list2)
print(list3)

#### Using map(), create a list having square of numbers present in list1

In [34]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list2 = list(map(sqr, list1))

print(list1)
print(list2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [37]:
tuple(map((lambda x : x * 2), [10]))

(20,)

In [40]:
tuple(map((lambda x : x * 2), 'python'))

('pp', 'yy', 'tt', 'hh', 'oo', 'nn')

In [51]:
number1 = [1,2,3]
number2 = [4,5,6]

result = map(lambda a,b : a + b, number1, number2)
list(result)

[5, 7, 9]

In [52]:
'a' * 3 # repeatation, this works since '*' operator is overloaded for string

'aaa'

In [54]:
'a' + 3 # error

TypeError: can only concatenate str (not "int") to str

#### reduce() function
- produces a single result from a sequence of any number of items
- syntax --> reduce(function, iterable)
- part of a module called 'functools'

In [55]:
from functools import reduce

add = lambda a,b : a + b

list1 = [1,2,3,4,5]

reduce(add, list1)

15

In [61]:
list1 = [11, 7, 9, -4, 5, 13, -4, 2]

def is_smaller(a,b):
    if a < b:
        return a
    else:
        return b

is_greater = lambda a, b: a if a>b else b       

print(reduce(is_smaller, list1))
print(reduce(is_greater, list1))

-4
13

#### filter() function
- filter is used for eliminating unwanted values
- synax --> filter(func,iterable)
- function used for filter should always return bool value
- items from the iterable are passed to the function (one at a time)
- the output sequence contains those elements for which the function returns True
- number of output elements may not be same as that of input elements
- map() transforms whereas filter selectively picks items based on filter logic

In [65]:
list1 = [1, 3, 5, 7, 9, 8, 10]

is_even = lambda n : n % 2 == 0

list(filter(is_even, list1))

[8, 10]

In [66]:
s = 'It is a beautiful day out there'

is_vowel = lambda ch : ch in 'aeiouAEIOU'

set(filter(is_vowel, s))

{'I', 'a', 'e', 'i', 'o', 'u'}

In [68]:
# extract digits from the string and put them in list/tuple
s = 'Py20th24on'

is_digit = lambda ch : ch.isdigit()

tuple1 = tuple(filter(is_digit, s))
reduce(lambda a,b : a+b , tuple1)

'2024'

In [75]:
strings = ['class', 'class-1', 'class-2', 'town-1', 'town-2', 'city-1', 'city-2']
strings_to_search = ['class', 'city']

contains_string1 = lambda my_strings : any(s in my_strings for s in strings_to_search)

def contains_string2(my_strings):
    return  any(s in my_strings for s in strings_to_search)

list(filter(contains_string2, strings))

['class', 'class-1', 'class-2', 'city-1', 'city-2']